<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project5.rucafeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RuCafeApp">
        <activity
            android:name=".CoffeeScreen"
            android:exported="false" />
        <activity
            android:name=".StoreOrderScreen"
            android:exported="false" />
        <activity
            android:name=".OrderScreen"
            android:exported="false" />
        <activity
            android:name=".DonutsScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FlavorActivity"/>
    </application>

</manifest>